@tailwind base;
@tailwind components;
@tailwind utilities;

.center{
    @apply flex items-center justify-center;
}
.component{
    @apply bg-slate-200 rounded-md p-5 shadow-md;
}

.noScrollbar::-webkit-scrollbar {
    display: none;
}
.noScrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}